name: Haskell Dockerfile Linter
on: push
jobs:
  build:
    name: Hadolint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Hadolint
        uses: brpaz/hadolint-action@master
